<!doctype html>
<html lang="en-US">

<head>
<meta charset="utf-8" />
<meta name="description" content="Default Description" />
<meta name="keywords" content="" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<title>{% block title %}{{'rwl.frontend.home.title'|trans({}, 'RwlFrontendBundle')}}{% endblock %}</title>

<!-- Css -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="all"
	href="{{ asset('frontend/libs/css/bootstrap.min.css') }}" />

<link rel="stylesheet" type="text/css" 
	href="{{ asset('frontend/libs/css/font-awesome.min.css') }}" />

<link rel="stylesheet" type="text/css" 
	href="{{ asset('frontend/build/css/styles.css') }}" />
<link rel="stylesheet" type="text/css"
	media="screen and (min-width: 768px)"
	href="{{ asset('frontend/libs/css/styles-l.min.css') }}" />
<link rel="stylesheet" type="text/css" 
	href="{{ asset('frontend/libs/css/home.css') }}" />
{% endblock %}

</head>

<body data-container="body"
	data-mage-init='{"loaderAjax": {}, "loader": { "icon": "http://mediamart.zooextension.com/pub/static/frontend/CleverSoft/mediamart/en_US/images/loader-2.gif"}}'
	class="wide-layout layout-1200 cms-cleversoft-homepage-2 cms-index-index page-layout-1column">
	<noscript>
		<div class="message global noscript">
			<div class="content">
				<p>
					<strong>JavaScript seems to be disabled in your browser.</strong> <span>For
						the best experience on our site, be sure to turn on Javascript in
						your browser.</span>
				</p>
			</div>
		</div>
	</noscript>

	<header class="page-header zoo-header-1" id="page-header">
		<div class="panel wrapper">
			<div class="header-panel container">
				<div class="topbar-container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12 contact-top">
							<div class="top-header-left">
								<span><i class="fa fa-phone">&nbsp;</i>(+8400) 123 456
									789</span> <span><i class="fa fa-envelope">&nbsp;</i>Email:
									hello@company.co</span>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12 customlink"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="header-content container" id="header-sticky-mobile">
			<div class="zoo-header-content-block text-left">
				<span data-action="toggle-nav" class="action zoo-menu-label"><span
					class="cs-font clever-icon-menu-5"></span></span>
				<div class="header-minimal-search visible-xs visible-sm">
					<a href="javascript:void(0)"><span
						class="cs-font clever-icon-search-4"></span></a>
				</div>
				<strong class="logo"> <img
					src="http://mediamart.zooextension.com/pub/media/wysiwyg/mato/logo/mediamart-logo_4.png"
					alt="Magento Commerce" width="189" height="64" />
				</strong>
			</div>

			<div class="zoo-header-content-block"></div>

			<div class="zoo-header-content-block">
				<div data-block="minicart" class="minicart-wrapper ">
					<div class="action showcart" data-bind="scope: 'minicart_content'">
						<a href="http://mediamart.zooextension.com/checkout/cart/"><span
							class="counter qty empty"
							data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading"><span
								class="counter-number"> <!-- ko text: getCartParam('summary_count') -->
									<!-- /ko -->
							</span> <span class="counter-label"> <!-- ko if: getCartParam('summary_count') -->
									<!-- ko text: getCartParam('summary_count') --> <!-- /ko --> <!-- ko i18n: 'items' -->
									<!-- /ko --> <!-- /ko -->
							</span></span></a>
						<!--<div class="subtotal-minicart" data-bind="html : cart().subtotal_header"></div> not working-->
					</div>
					<div class="block block-minicart minicart-detail empty"
						data-role="dropdownDialog"
						data-mage-init='{"dropdownDialog":{ "appendTo":"[data-block=minicart]", "triggerTarget":".showcart", "timeout": "2000", "closeOnMouseLeave": false, "closeOnEscape": true, "triggerClass":"active", "parentClass":"active", "buttons":[]}}'>
						<div id="minicart-content-wrapper"
							data-bind="scope: 'minicart_content'">
							<!-- ko template: getTemplate() -->
							<!-- /ko -->
						</div>
					</div>
				</div>
				<div class="header-wishlist link wishlist"
					data-bind="scope: 'wishlist'">
					<a href="http://mediamart.zooextension.com/wishlist/"><i
						class="fa fa-heart-o"></i> <!-- ko if: wishlist().counter --> <span
						data-bind="text: wishlist().counter"
						class="counter-number counter qty"></span> <!-- /ko --> <!-- ko ifnot: wishlist().counter -->
						<span class="counter-number counter qty">0</span> <!-- /ko --></a>
				</div>
				<div class="header-compare item link compare"
					data-bind="scope: 'compareProducts'"
					data-role="compare-products-link">
					<a class="action compare" title="Compare Products"
						data-bind="attr: {'href': compareProducts().listUrl}"><i
						class="cs-font clever-icon-compare-6"></i> <span
						class="counter-number counter qty"
						data-bind="text: compareProducts().countCaption"></span></a>
				</div>
			</div>
		</div>
		<div class="top-menu" id="zoo-sticky-header">
			<div class="container">

				<div class="d-flex zoo-menu-content">
					<div class="logo-sticky">
						<strong> <img
							src="http://mediamart.zooextension.com/pub/media/wysiwyg/mato/logo/logo-mart_400x_2.png"
							width="auto" height="auto" /></strong>
					</div>
					<div class="col-md-3 col-offset"></div>
					<div class="text-left">
						<div class="clever-menu clever-horizontal-menu  clever-show"
							id="menu-597f262517fcc">
							<ul class="clever-mega-menu clever-horizontal-menu">
								<li
									class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top parent">
									<a title="Home " class="menu-link"
									href="http://mediamart.zooextension.com/home"> <span>Home
									</span></a>
									<ul class="clever-mega-menu-sub " style="width: 500px">
										<li
											class="clever-mega-menu-item level1   container text-content">
											<div class=" clever-mega-menu-container "
												style="padding: 20px 15px;; width:">
												<div class="row">
													<div class="col-sm-12">
														<h5 class="title-menu">Layout LTR</h5>
														<ul>
															<li><a
																href="http://mediamart.zooextension.com/stores/store/switch/?___store=home1_en">Home
																	Layout 1</a></li>
															<li><a
																href="http://mediamart.zooextension.com/stores/store/switch/?___store=home2_en">Home
																	Layout 2</a></li>
														</ul>
													</div>
													<div class="col-sm-12">
														<h5 class="title-menu">Layout RTL</h5>
														<ul>
															<li><a
																href="http://mediamart.zooextension.com/stores/store/switch/?___store=home1_rtl">Home
																	Layout 1</a></li>
															<li><a
																href="http://mediamart.zooextension.com/stores/store/switch/?___store=home2_rtl">Home
																	Layout 2</a></li>

														</ul>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>

								<li
									class="clever-mega-menu-item level0 border-right clever-sub_drop_to_right level-top parent">
									<a title="Products" class="menu-link" href="#"> <span>Products</span></a>
									<ul class="clever-mega-menu-sub " style="width: 500px">
										<li
											class="clever-mega-menu-item level1 border-none  container text-content">
											<div class="border-none clever-mega-menu-container "
												style="width:">
												<div class="row">
													<div class="col-sm-12">
														<h5 class="title-menu">Product Page</h5>
														<ul>
															<li><a
																href="http://mediamart.zooextension.com/wireless-hp-camera-3-5ft-with-bluetooth-3-0.html">Simple
																	Product</a></li>
															<li class="item"><a
																href="http://mediamart.zooextension.com/configurations-product.html">Color/Image
																	Swatch Product</a></li>
														</ul>
													</div>
													<div class="col-sm-12">
														<p class="mega-block-title">Product Layouts</p>
														<ul class="mega-block">
															<li class="item"><a
																href="http://mediamart.zooextension.com/apple-watch-pink.html?___store=home5_en">Without
																	Background</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li
									class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
									<a title="about" class="menu-link"
									href="http://mediamart.zooextension.com/about"> <span>about</span></a>
								</li>
								<li
									class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
									<a title="contact" class="menu-link"
									href="http://mediamart.zooextension.com/contact"> <span>contact</span></a>
								</li>
								<li
									class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
									<a title="Blog" class="menu-link"
									href="http://mediamart.zooextension.com/blog"> <span>Blog</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="contact-menu"></div>
					<div class="zoo-header-user">
						<div data-block="minicart" class="minicart-wrapper ">
							<div class="action showcart"
								data-bind="scope: 'minicart_content'">
								<a href="http://mediamart.zooextension.com/checkout/cart/"><span
									class="counter qty empty"
									data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading"><span
										class="counter-number"> <!-- ko text: getCartParam('summary_count') -->
											<!-- /ko -->
									</span> <span class="counter-label"> <!-- ko if: getCartParam('summary_count') -->
											<!-- ko text: getCartParam('summary_count') --> <!-- /ko -->
											<!-- ko i18n: 'items' --> <!-- /ko --> <!-- /ko -->
									</span></span></a>
								<!--<div class="subtotal-minicart" data-bind="html : cart().subtotal_header"></div> not working-->
							</div>
							<div class="block block-minicart minicart-detail empty"
								data-role="dropdownDialog"
								data-mage-init='{"dropdownDialog":{ "appendTo":"[data-block=minicart]", "triggerTarget":".showcart", "timeout": "2000", "closeOnMouseLeave": false, "closeOnEscape": true, "triggerClass":"active", "parentClass":"active", "buttons":[]}}'>
								<div id="minicart-content-wrapper"
									data-bind="scope: 'minicart_content'">
									<!-- ko template: getTemplate() -->
									<!-- /ko -->
								</div>
							</div>
						</div>
						<div class="header-wishlist link wishlist"
							data-bind="scope: 'wishlist'">
							<a href="http://mediamart.zooextension.com/wishlist/"><i
								class="fa fa-heart-o"></i> <!-- ko if: wishlist().counter --> <span
								data-bind="text: wishlist().counter"
								class="counter-number counter qty"></span> <!-- /ko --> <!-- ko ifnot: wishlist().counter -->
								<span class="counter-number counter qty">0</span> <!-- /ko --></a>
						</div>
						<div class="header-compare item link compare"
							data-bind="scope: 'compareProducts'"
							data-role="compare-products-link">
							<a class="action compare" title="Compare Products"
								data-bind="attr: {'href': compareProducts().listUrl}"><i
								class="cs-font clever-icon-compare-6"></i> <span
								class="counter-number counter qty"
								data-bind="text: compareProducts().countCaption"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="sections nav-sections">
		<div class="section-items nav-sections-items"
			data-mage-init='{"tabs":{"openedState":"active"}}'>
			<div class="section-item-title nav-sections-item-title"
				data-role="collapsible">
				<a class="nav-sections-item-switch" data-toggle="switch"
					href="#store.menu"></a>
			</div>
			<div class="section-item-content nav-sections-item-content"
				id="store.menu" data-role="content">
				<span data-action="toggle-nav" class="action zoo-menu-label"><span
					class="cs-font clever-icon-menu-5"></span></span>
				<div class="clever-menu clever-horizontal-menu  clever-show"
					id="menu-597f262519bf8">
					<ul class="clever-mega-menu clever-horizontal-menu">
						<li
							class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top parent">
							<a title="Home " class="menu-link"
							href="http://mediamart.zooextension.com/home"> <span>Home
							</span></a>
							<ul class="clever-mega-menu-sub " style="width: 500px">
								<li
									class="clever-mega-menu-item level1   container text-content">
									<div class=" clever-mega-menu-container "
										style="padding: 20px 15px;; width:">
										<div class="row">
											<div class="col-sm-12">
												<h5 class="title-menu">Layout LTR</h5>
												<ul>
													<li><a
														href="http://mediamart.zooextension.com/stores/store/switch/?___store=home1_en">Home
															Layout 1</a></li>
													<li><a
														href="http://mediamart.zooextension.com/stores/store/switch/?___store=home2_en">Home
															Layout 2</a></li>
												</ul>
											</div>
											<div class="col-sm-12">
												<h5 class="title-menu">Layout RTL</h5>
												<ul>
													<li><a
														href="http://mediamart.zooextension.com/stores/store/switch/?___store=home1_rtl">Home
															Layout 1</a></li>
													<li><a
														href="http://mediamart.zooextension.com/stores/store/switch/?___store=home2_rtl">Home
															Layout 2</a></li>

												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>

						<li
							class="clever-mega-menu-item level0 border-right clever-sub_drop_to_right level-top parent">
							<a title="Products" class="menu-link" href="#"> <span>Products</span></a>
							<ul class="clever-mega-menu-sub " style="width: 500px">
								<li
									class="clever-mega-menu-item level1 border-none  container text-content">
									<div class="border-none clever-mega-menu-container "
										style="width:">
										<div class="row">
											<div class="col-sm-12">
												<h5 class="title-menu">Product Page</h5>
												<ul>
													<li><a
														href="http://mediamart.zooextension.com/wireless-hp-camera-3-5ft-with-bluetooth-3-0.html">Simple
															Product</a></li>
													<li><a
														href="http://mediamart.zooextension.com/configurations-product.html">Configurable
															Product</a></li>
													<li><a
														href="http://mediamart.zooextension.com/flying-camera.html">Out
															Of Stock</a></li>
													<li><a
														href="http://mediamart.zooextension.com/http://mediamart.zooextension.com/wireless-camera.html">Product
															Group</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/downloadable-product.html">Downloadable
															Product</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/virtual-product.html">Virtual
															Product</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/configurations-product.html">Color/Image
															Swatch Product</a></li>
												</ul>
											</div>
											<div class="col-sm-12">
												<p class="mega-block-title">Product Layouts</p>
												<ul class="mega-block">
													<li class="item"><a
														href="http://mediamart.zooextension.com/apple-watch-pink.html">Gallery
															Horizontal </a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/apple-watch-pink.html?___store=home2_en">Gallery
															Vertical</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/apple-watch-pink.html?___store=home3_en">Sticky
															Layout</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/apple-watch-pink.html">Background</a></li>
													<li class="item"><a
														href="http://mediamart.zooextension.com/apple-watch-pink.html?___store=home5_en">Without
															Background</a></li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li
							class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
							<a title="about" class="menu-link"
							href="http://mediamart.zooextension.com/about"> <span>about</span></a>
						</li>
						<li
							class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
							<a title="contact" class="menu-link"
							href="http://mediamart.zooextension.com/contact"> <span>contact</span></a>
						</li>
						<li
							class="clever-mega-menu-item level0  clever-sub_drop_to_right level-top">
							<a title="Blog" class="menu-link"
							href="http://mediamart.zooextension.com/blog"> <span>Blog</span></a>
						</li>
					</ul>
				</div>
				<ul class="header links">
					<li class="authorization-link" data-label="or"><a
						href="http://mediamart.zooextension.com/customer/account/login/">Sign
							in / Register</a></li>
				</ul>
				<div class="switcher language switcher-language"
					data-ui-id="language-switcher" id="switcher-language-nav">
					<strong class="label switcher-label"><span>Language</span></strong>
					<div class="actions dropdown options switcher-options">
						<div class="action toggle switcher-trigger"
							id="switcher-language-trigger-nav">
							<strong class="view-home2_en"> <span>English</span></strong>
						</div>
						<ul class="switcher-dropdown">
							<li class="view-home2_rtl switcher-option"><a href="#"
								data-post='{"action":"http:\/\/mediamart.zooextension.com\/stores\/store\/switch\/","data":{"___store":"home2_rtl","uenc":"aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,"}}'>Arabic</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="zoo-breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-inner"></div>
		</div>
	</div>
	<main id="zoo-main-content" class="page-main"> <a
		id="contentarea" name="contentarea" tabindex="-1"></a>
	<div class="container">
		<div class="columns">
			<div class="page messages">
				<div data-placeholder="messages"></div>
				<div data-bind="scope: 'messages'">
					<div data-bind="foreach: { data: cookieMessages, as: 'message' }"
						class="messages">
						<div
							data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
							<div data-bind="html: message.text"></div>
						</div>
					</div>
					<div
						data-bind="foreach: { data: messages().messages, as: 'message' }"
						class="messages">
						<div
							data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
							<div data-bind="html: message.text"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="column main">
				<div class="zoo-main-content-area">
					<div id="authenticationPopup"
						data-bind="scope:'authenticationPopup'" style="display: none;">
						<!-- ko template: getTemplate() -->
						<!-- /ko -->
					</div>
					<input name="form_key" type="hidden" value="8UaDEw5jgNzQjGsO" />
					<div class="clever-slide-block">
						<div class="container">
							<div class="row">

								<div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3">
									<div class="clever-slider-container ">
										<div class="clever-slider flexslider"
											id="clever-slider-597f26251e4dc">
											<ul class="slides">
												<li id="clever-left-slide-0-slideshow"
													data-video="clever-slidshow-0-597f26251e51e"
													style="width: 100%; height: 100%;""><div
														class="zoo-clazyload-spinners "></div>
													<div class="icon_img "
														style="background-image:{{ asset('frontend/image/techco-banner-4.jpg') }}; background-position: center center; background-color: rgba(0, 0, 0, 0); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
													<div id="overload-clever-slidshow-0-597f26251e51e "
														class="zoo-slideshow-text-wrap ">
														<div class="zoo-slideshow-text-content ">
															<div class="zoo-caption-slide ">
																<h1 style=""
																	class="heading_align slideshow__title align-center ">IWatch
																	© New & Unique Design 2017</h1>
																<h3 style=""
																	class="sub_heading sub_heading_align align-center "></h3>
																<div class="zoo-button-slide align-center ">
																	<a style="color: #ffffff; background: #63a70f"
																		onmouseover="this.style.color='#ffffff' ; this.style.background='#333333' "
																		onmouseout="this.style.color='#ffffff' ; this.style.background='#63a70f' "
																		class="button " href="# ">Shop Now</a>
																</div>
															</div>
														</div>
													</div></li>
												<li id="clever-left-slide-1-slideshow "
													data-video="clever-slidshow-1-597f26251e56a "
													style="width: 100%; height: 100%;"">
													<div class="zoo-clazyload-spinners"></div>
													<div class="icon_img "
														style="background-image: url('http://mediamart.zooextension.com/pub/media/wysiwyg/slideshow/techco-banner-05.jpg'); background-position: center center; background-color: rgba(0, 0, 0, 0); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
													<div id="overload-clever-slidshow-1-597f26251e56a"
														class="zoo-slideshow-text-wrap ">
														<div class="zoo-slideshow-text-content">
															<div class="zoo-caption-slide ">
																<h1 style=""
																	class="heading_align slideshow__title align-right">Smartphone
																	Samsung S7 Edg</h1>
																<h3 style=""
																	class="sub_heading sub_heading_align align-right">New
																	For Your Stylish</h3>
																<div class="zoo-button-slide align-right">
																	<a style="color: #ffffff; background: #63a70f"
																		onmouseover="this.style.color = '#ffffff'; this.style.background = '#333333'"
																		onmouseout="this.style.color = '#ffffff'; this.style.background = '#63a70f'"
																		class="button" href="#">Shop Now</a>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<style>
.clever-slider-lazyloader {
	width: 40px;
	height: 40px;
	background:
		url('http://mediamart.zooextension.com/pub/static/frontend/CleverSoft/mediamart/en_US/CleverSoft_CleverSlider/images/lazyloading.gif')
		no-repeat center center;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.slideshow__video-control {
	background:
		url("http://mediamart.zooextension.com/pub/static/frontend/CleverSoft/mediamart/en_US/CleverSoft_CleverSlider/images/slides/play-pause.png");
	background-size: cover;
	text-indent: -9999em;
	height: 80px;
	width: 65px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}

.slideshow__video-control--play {
	background-position: 0 0;
}

.clever-slideshow-control-pause {
	background-position: center right;
}
</style>
								</div>
							</div>
						</div>
					</div>
					<div class="clever-under-slide">
						<div class="container">
							<div class="" id="widget-978ac8e344657cd6a160c72962f8c851">
								<div class="block zoo-block-widget block-sample clearfix">
									<div class="row">
										<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12  ">
											<div class="home-block-top-image">

												<div class="row">
													<div class="col-xs-12 col-sm-4 col-md-4">
														<div class="home-collection-wrapper">
															<div class="home-collection-content">
																<h3>music &amp; audio</h3>
																<p>Up to 70%</p>
															</div>
															<div class="button-link">
																<a href="#">Shop now</a>
															</div>
														</div>
														<div class="image">
															<a href="#"><img
																src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/mediamart-banner-01.jpg "
																alt="" /></a>
														</div>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4">
														<div class="home-collection-wrapper">
															<div class="home-collection-content">
																<h3>build gaming</h3>
																<p>Fast &amp; Easily</p>
															</div>
															<div class="button-link">
																<a href="#">Shop now</a>
															</div>
														</div>
														<div class="image">
															<a href="#"><img
																src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/mediamart-banner-02.jpg "
																alt="" /></a>
														</div>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4">
														<div class="home-collection-wrapper">
															<div class="home-collection-content">
																<h3>smartphone</h3>
																<p>Installment Purchase</p>
															</div>
															<div class="button-link">
																<a href="#">Shop now</a>
															</div>
														</div>
														<div class="image">
															<a href="#"><img
																src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/mediamart-banner-03.jpg "
																alt="" /></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section-product-slide tabs-product st2">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-3 hidden-xs image-tabs">
									<img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-4.jpg"
										alt="" /><img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-6.jpg"
										alt="" />
								</div>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<div class=" zoo-product-collection01 "
										id="widget-e2e4cc150290fccd6045d17e37c97005" q>
										<div class="tabs-collection">
											<div class="zoo-main-heading">
												<div class="zoo-heading-wrapper-title">
													<h3>
														<span>ELECTRONICS & AUDIO</span>
													</h3>
												</div>
											</div>

										</div>

										<div class="widget-tab-content tab-content">
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-3"
												class="tab-pane active">
												<div
													class="grid products-grid products-grid-partitioned category-products-grid zoo-single-line-name enable_border_boxshadow"
													id="widget-2789cd3ba4d84cdd68e0cf9aac6f533d">
													<ol
														class="clearfix items product-items itemgrid widget-product-grid itemgrid zoo-itemgrid-adaptive zoo-grid-4col">
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->

													</ol>
												</div>
											</div>
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-4"
												class="tab-pane"></div>
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-5"
												class="tab-pane"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-image-container">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-9.jpg"
										alt="" />
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-10.jpg"
										alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="section-product-slide tabs-product st2">
						<div class="container">
							<div class="row">
								<div class="col-md-9 col-sm-9 col-xs-12">
									<div class=" zoo-product-collection01 "
										id="widget-5641a94b16694429dec395de4d1d94b0" q>
										<div class="tabs-collection">
											<div class="zoo-main-heading">
												<div class="zoo-heading-wrapper-title">
													<h3>
														<span>TABLET & MOBILE</span>
													</h3>
												</div>
											</div>

										</div>
										<div class="widget-tab-content tab-content">
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-3"
												class="tab-pane active">
												<div
													class="grid products-grid products-grid-partitioned category-products-grid zoo-single-line-name enable_border_boxshadow"
													id="widget-2789cd3ba4d84cdd68e0cf9aac6f533d">
													<ol
														class="clearfix items product-items itemgrid widget-product-grid itemgrid zoo-itemgrid-adaptive zoo-grid-4col">
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->
														<li class="product-item product_hover product-instock">
															<div class="product-item-info  have-alternative-image "
																data-container="product-grid">
																<div class="zoo-inner-product-item-info">
																	<div class="zoo-product-image">
																		<a
																			href="http://mediamart.zooextension.com/attribute.html"
																			class="product-item-photo"> <img
																			id="product-collection-image-2"
																			src="http://mediamart.zooextension.com/pub/media/catalog/product/cache/small_image/200x/925f46717e92fbc24a8e2d03b22927e1/1/-/1-7_1.jpg"
																			alt="Apple Ipad Mini 16GB" />
																		</a>
																	</div>
																	<div class="product details product-item-details">
																		<div class="att">Smart tivi</div>
																		<h5 class="product-item-name product_visible_item">
																			<a title="Apple Ipad Mini 16GB"
																				href="http://mediamart.zooextension.com/attribute.html"
																				class="product-item-link">Apple Ipad Mini 16GB</a>
																		</h5>
																		<div class="product_visible_item">
																			<div class="product-reviews-summary short empty">
																				<div class="reviews-actions">
																					<a class="action add"
																						href="http://mediamart.zooextension.com/attribute.html#review-form">Be
																						the first to review this product</a>
																				</div>
																			</div>
																		</div>
																		<div class="product_visible_item">
																			<div class="price-box price-final_price"
																				data-role="priceBox" data-product-id="2">
																				<span
																					class="price-container price-final_price tax weee">
																					<span id="product-price-2" data-price-amount="502"
																					data-price-type="finalPrice" class="price-wrapper "><span
																						class="price">$502.00</span></span>
																				</span>
																			</div>
																		</div>

																		<div
																			class="hover-area add-cart-product product_visible_item">
																			<div class="actions-primary">
																				<form data-role="tocart-form"
																					action="http://mediamart.zooextension.com/checkout/cart/add/uenc/aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tLw,,/product/2/"
																					method="post">
																					<input type="hidden" name="product" value="2">
																					<input type="hidden" name="uenc"
																						value="aHR0cDovL21lZGlhbWFydC56b29leHRlbnNpb24uY29tL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFsWkdsaGJXRnlkQzU2YjI5bGVIUmxibk5wYjI0dVkyOXRMdywsL3Byb2R1Y3QvMi8,">
																					<input name="form_key" type="hidden"
																						value="8UaDEw5jgNzQjGsO" />
																					<button type="submit" class="action tocart">
																						<span><i
																							class="cs-font clever-icon-cart-15"></i></span>
																					</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<!-- new_products_content_widget_grid-->

													</ol>
												</div>
											</div>
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-4"
												class="tab-pane"></div>
											<div id="widget-e2e4cc150290fccd6045d17e37c97005-category-5"
												class="tab-pane"></div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
									<img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-7_2048x.jpg"
										alt="" /><img
										src="http://mediamart.zooextension.com/pub/media/wysiwyg/block/techco-banner-8_2048x.jpg"
										alt="" />
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</main>

	<footer class="page-footer">
		<div class="footer container ">
			<div class="row">

				<div class="col-lg-12  col-md-12  col-sm-12  col-xs-12  ">
					<div class="link-custom-bottom">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<ul>
								<li><a href="/collections/accessories"> Computer &amp;
										Accessories </a></li>
								<li><a href="/collections/camera"> Mobiles &amp;
										Tablets </a></li>
								<li><a href="/collections/computer"> Camera &amp; Video
								</a></li>
								<li><a href="/collections/laptop"> Audio &amp;
										Headphones </a></li>
								<li><a href="/collections/tablet"> TV &amp; Display </a></li>
								<li><a href="/collections/tv-audio"> Car Electronic
										&amp; GPS </a></li>
								<li><a href="/collections/tablet"> Office Supplies </a></li>
								<li><a href="/collections/laptop"> Printer &amp; Ink </a></li>
								<li><a href="/collections/camera"> Computer Components
								</a></li>
								<li><a href="/collections/accessories"> Software </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<a id="scroll-to-top" class="ic ic-up button" href="#top"><span
				class="cs-font clever-icon-up"></span></a>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<small class=""><span>Copyright © 2017 Magento,
								Inc. All rights reserved.</span></small>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div id="clever-quickview" class="quickview-modal">
		<div class="content-wrap">
			<div class="clever-loading-wrap" style="display: none;">
				<div class="zoo-clazyload-spinners qw">
					<img
						src="http://mediamart.zooextension.com/pub/static/frontend/CleverSoft/mediamart/en_US/CleverSoft_Base/images/transparent.gif">
				</div>
			</div>
			<div class="clever-content clever-main" style="display: none;"></div>
		</div>
	</div>

	<link rel="stylesheet" type="text/css"
		href="http://mediamart.zooextension.com/pub/media/cleversoft/web/css/_config/layout_home2_en.css" />
	<div style="display: none">
		<div id="zoo_newsletter" class="block block-subscribe clearfix">
			<style>
.zoo-logo-newsletter {
	background-image:
		url(http://mediamart.zooextension.com/pub/media/wysiwyg/mato/newsletter/background-newsnter.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}
</style>
			<div class="hidden-xs hidden-sm col-md-6 zoo-logo-newsletter"></div>
			<div class="zoo-popup-newsletter-inner col-md-6 col-md-12">
				<h2>
					<span>Newsletter</span></strong>
				</h2>
				<div class="row-none">
					<div class="popup_message">
						<p class="intro">Sign up here to get the latest news, updates
							and special offers delivered directly to your inbox.</p>
						<form
							action="http://mediamart.zooextension.com/newsletter/subscriber/new/"
							method="post" id="zoo-newsletter-validate-detail" novalidate
							data-mage-init='{"validation": {"errorClass": "mage-error"}}'>
							<div class="block-content form-groups">
								<input name="email" type="text" id="zoo-newsletter"
									class="input-text required-entry validate-email"
									value="Your email address"
									onclick="this.value == 'Your email address'?this.value = '':''"
									onblur="this.value == ''?this.value = 'Your email address':''"
									data-validate="{required:true, 'validate-email':true}" />
								<button type="submit" class="btn-novetty">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
				<div class="block-content">
					<label class="subcriper_label checkbox-filter"> <input
						type="checkbox"><span class="checkbox-material"><span
							class="check"></span></span> Don't show this popup again
					</label>
				</div>
			</div>
		</div>
	</div>
	</div>
	{% block jslibs %}
	
	<script src="{{ asset('frontend/libs/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('frontend/libs/js/jquery.sticky.js') }}"></script>
	<script>
    $(window).load(function(){
      $("#zoo-sticky-header").sticky({ topSpacing: 0 });
    });
  </script>
{% endblock %}
</body>

</html>
